<div class="wrapper"> 
    <h1>INVOICE</h1>
    <p>Submitted on {{currentDate | date:'MM/dd/yyyy'}}</p>
    <div class = "row">
        <div class = "lef-col">
            <h3>Invoice for</h3>
            <p>Jhunel B Penaflorida</p>
            <p>Novare Technologies</p>
            <p>39th Street, cor. 10th Ave.</p>
            <p>Taguig, Metro Manila, Philippines, 1634</p>
        </div>
        <div class ="mid-col">
            <div>
                <h3>Payable to</h3>
                <p>Jhunel B Penaflorida</p>
            </div>
            <div>
                <h3>Project</h3>
                <p>BDO Web Portal</p>
            </div>    
        </div>
        <div class ="right-col">
            <div>
                <h3>Invoice Number</h3>
                <p>4500132</p>
            </div>
            <div>
                <h3>Due Date</h3>
                <p>03/04/2023</p>
            </div>    
        </div>
    </div>
    <!-- <table>
        <tr>
          <td rowspan="2">
          <span>Invoice for</span><br>
            Jane<br>
            Hyper Shop<br>
            143, Mapagmahal<br>
           Maguindanao, Philippines, 555<br>
          </td>
            <td> 
                <span>Payable to</span><br>
                Jane
            </td>

            <td>
                <span>Invoice #</span><br>
                40789
            </td>
        </tr>
        <tr>
            <td>
                <span>Project</span><br> 
                keyboard
            </td>
            <td>
                <span>Due Date</span> <br>
                {{currentDate | date:'yyyy-MM-dd'}}
            </td>
        </tr>
      </table> -->
</div>

